@import url('styles.css');


.btn__crea {
    width: 85vw;
    background-color: var(--amarillo);
    padding-top: 0.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem auto;
    border-radius: 20PX;
    box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.5);
    color: white;
    font-size: 1.2rem;
    font-weight: 800;
    text-transform: uppercase;
    text-shadow: -2px 2px 2px rgba(0, 0, 0, 0.5);
}

.btn__utiles {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90vw;
    background-color: var(--amarillo);
    color: white;
    font-size: 10px;
    font-weight: 900;
    text-transform: uppercase;
    padding: 1rem;
    margin: 1rem auto;
    border-radius: 5%;
    box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.5);
    text-shadow: -2px 2px 2px rgba(0, 0, 0, 0.5);
}

.btn__utiles div.link__util {
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn__utiles div.link__util img {
    width: 30px;
    height: 30px;
    
}

.btn__utiles div.link__util p {
    text-align: center;
}

a p {
    color: white;
    
}

.carousel-inner {
    display: flex;
    align-items: center;
    justify-items: center;
    width: 100%;
    height: 11.5rem;
    border: 5px solid var(--amarillo);
    margin-bottom: 0.8rem;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.5);
}

main.home__productos{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
section.contenedorDeProductos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
div.productosImportantes {
    display: flex;
    flex-wrap: wrap;
    margin-top: 1rem;
    justify-content: center;
}


article.ttaProducto {
    background-color: var(--amarillo);
    margin: 5px;
    padding: 5px;
    max-width: 380px;
}

article.ttaProducto h2.relevanciaProducto {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-shadow: -2px 2px 2px rgba(0, 0, 0, 0.3);
    padding: 0.3rem;
    margin-bottom: 0.5rem;
    text-align: center;
    text-transform: uppercase;
}

/* section div.productosImportantes article.ttaProducto div.imgContainer {
    width: 90vw;
    height: 100px;
} */

div.imgContainer img {
    display: flex;
    max-width: 280px;
    margin: 0 auto;
    border-radius: 15px;
    
}

article.ttaProducto .tituloYprecio {
    display: flex;
    justify-items: row;
    justify-content: space-around;
}

article.ttaProducto h3.tituloProducto {
    font-size: 1.1rem;
    color: white;
    border-bottom: 1px solid white;
    padding-bottom: 1rem;
    margin-bottom: 0.5rem;
    text-shadow: -2px 2px 2px rgba(0, 0, 0, 0.3);
}

article.ttaProducto p.precio {
    color: white;
    text-shadow: -2px 2px 2px rgba(0, 0, 0, 0.3);
    font-weight: 600;
    font-size: 0.9rem;
    margin-bottom: 0.5rem;
    border-bottom: 1px solid white;
    padding-bottom: 1rem;
    padding-top: 0.3rem;
}

.priceOff {
    color: red;
}

article.ttaProducto p.descripcionProducto {
    color: white;
    text-shadow: -2px 2px 2px rgba(0, 0, 0, 0.3);
    font-weight: 600;
    font-size: 1rem;
    margin-bottom: 1rem;
}

article.ttaProducto a.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--verde);
    color: var(--gris-oscuro);
    text-transform: uppercase;
    font-weight: 600;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    border: 2px solid orange;
    border-radius: 5px;
    transition: all 1s ease;
    box-shadow: -2px 2px 2px rgba(0, 0, 0, 0.5);
}

article.ttaProducto a.btn:hover {
    background-color: white;
    color: orange;
    border: 2px solid var(--verde);
}

/* MEDIA QUERIES TABLET*/

@media (min-width: 768px) {
    .btn__utiles {
        font-size: 15px;
        border-radius: 5%;
    }
    .btn__utiles div.link__util img {
        width: 50px;
        height: 50px;
        margin: 5px;
    }
    article.ttaProducto {
        float: left;
        max-width: 380px;
    }
     
    section.contenedorDeProductos {
       float: left;
       margin-bottom: 10px;
    }
    div.productosImportantes {
        /* flex-wrap: nowrap; */    
        display: flex;
        justify-content: center;
        align-content: center;
    }
}

/* MEDIA QUERIES ESCRITORIO */
@media (min-width: 1024px) {
    .btn__utiles {
        font-size: 20px;
        
    }
    article.ttaProducto {
        margin: 0px 15px 15px 20px;
    }

}




