@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');
/**/
@import url('formularios.css');


/*VARIABLES*/

:root {
    /*Variables de colores*/
    --amarillo: #FFE61B;
    --gris-oscuro: #666;
    --gris-claro: #ebebeb;
    --verde: #B5FE83;
    --naranja: darkorange;
    /*Fuentes*/
    --roboto: 'Roboto', sans-serif;
    --montserrat:'Montserrat';
    --inter: 'Inter';
}


/* General*/

ul {
    list-style: none;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


/* HEADER */
hr { 
    width: 90%;
    font-weight: 100;
    height: 5px;
    margin: 0 auto;
}

header.main-header div.contenedor-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--amarillo);
}
header.main-header div.logo img {
    width: 100px;
    margin: 10px 10px;
}
header.main-header div.buscador {
   position: relative;   
}
div.buscador input::placeholder {
    text-align: center;
}

header.main-header div.buscador button {
    position: absolute;
    right: 10px;
    
}

header.main-header div.buscador i {
    position: absolute;
    height: 20px;
    right: -5px;
    top: 4px;
    color: grey;
}
header.main-header div.buscador input.main-icon{
    width: 120px;
    border: 0px;
    border-radius: 5px;
    height: 25px;
}
ul.menu-usuario-carrito-burger{
    display: flex;
    margin: 10px 1px;
    padding: 3px;
}
ul.menu-usuario-carrito-burger li{
        margin:0px 2px 0px;
    font-size: 20px;    
    color: var(--gris-claro);
}
nav.main-nav ul.navegacion {
    display: none;
}
nav.main-nav ul.navegacion li img:hover {
    transform: rotateZ(360deg) scale(1.1);
    transition: all 0.5s ease;
    cursor: pointer;
}










/* QUEARIES HEADER */
@media (min-width: 768px) {

    header.main-header {
        margin-bottom: 30px;
    }

    header.main-header div.buscador input.main-icon{
        width: 350px;
    }
    ul.menu-usuario-carrito-burger li{
        margin: 0px 12px;
    }

 /*burguer menu*/
 .nav-hamburguesa{
        display: none;
    }


    /*-------------*/

    header.main-header div.logo img {
        width: 250px;
        
    }
    nav.main-nav ul.navegacion {
        display:flex;
        justify-content: space-evenly;
        color: white;
        font-size: 20px;
        font-weight: bold;
        background-color: var(--amarillo);
    }
    nav.main-nav ul.navegacion li {
        display:grid;
        text-shadow: 1px 1px 2px black;        
    }
}


@media (min-width: 1024px){
    header.main-header div.buscador input.main-icon{
        width: 400px;
    }
    ul.menu-usuario-carrito-burger li{
    margin: 0px 5px 0px 80px;
    }

    ul.menu-usuario-carrito-burger {
        margin: 10px 2px 10px -100px;
    }
 /*burguer menu*/
    .nav-menu #menu-hamburguesa{
        display: none;
    }

   

    /*-------------*/
    nav.main-nav ul.navegacion li {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;        
    }
}


/* FOOTER */

footer {
    background-color: var(--amarillo);
}

footer section div.menuFooter ul {
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer section div.menuFooter ul li {
    background-color: var(--gris-claro);
    width: 150px;
    height: 40px;
    margin: 25px 25px 25px 25px;
    padding-top: 10px;
    text-align: center;
    border: 1px solid black;
    box-shadow: -5px 5px 10px var(--gris-oscuro);
    border-radius: 5px;
}

div.menuFooter ul li a{
    text-decoration: none;
    color: black;
}

div.menuFooter ul li:hover {
    border-bottom: 2px solid rgb(123, 124, 123);
    transform: scale(1.1);
    transition: all 0.5s ease;
}

footer section div.redes {
    text-align: center;
    border-top: 1.5px solid black;
    border-bottom: 1.5px solid black;
    padding: 25px;
    width: 98%;
    margin: auto;
}

footer section div.redes i {
    color: grey;
    font-size: 40px;
    width: 3rem;
}

footer section div.redes i:hover {
    transform: scale(1.2);
    transition: all 0.5s ease;
}

footer section div.copy h4 {
    color: grey;
    padding: 5px;
}

footer section div.descripcion h5 {
    text-align: center;
    color: grey;
}

footer section div.logoFooter {
    display: flex;
    justify-content: center;
    ;
}

footer section div.qrFooter i {
    font-size: 2.5rem;
    display: flex;
    justify-content: right;
    color: grey;
}


/* MEDIA QUERIES FOOTER */

@media (min-width: 768px) {


    footer section div.menuFooter ul {
        flex-direction: row;
        justify-content: center;
    }

    footer section div.redes {
        width: 80%;
    }

    footer section div.copy h4 {
        color: grey;
        padding-left: 10%;
    }

    footer section div.copy i {
        font-size: 1.5rem;
    }

    footer section div.qrFooter i {
        padding-right: 10%;
    }
}