<header class="main-header">
    <div class="contenedor-header">

        <div class="nav-hamburguesa">
            <ul class="nav nav-tabs">
               
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false"><i class="fa-solid fa-bars" id="menu-hamburguesa"></i>Menu</a>
                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="products/products">Sandwich</a></li>
                    <li><a class="dropdown-item" href="#">Infantiles</a></li>
                    <li><a class="dropdown-item" href="#">XXL</a></li>
                    <li><a class="dropdown-item" href="#">Guarniciones</a></li>
                    <li><a class="dropdown-item" href="#">Bebidas</a></li>
                    <li><a class="dropdown-item" href="#">Postres</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="#"></a></li>
                  </ul>
                </li>
               
              </ul>
        </div>

        <div class="logo">
            <a href="/"><img class="main-icon" src="/images/iconos/img-isologo.png"
                    alt="Isologotipo">
            </a>
        </div>
        
        <div class="buscador">
            <form action="/search" method="GET" class="search-form">
                <input type="text" name="keywords" class="main-icon" placeholder="¿Qué queres comer?" id="search">
                <button type="submit"><i class="fa-sharp fa-solid fa-magnifying-glass"></i></button>
            </form>
        </div>
        
            <nav>
                <ul class="menu-usuario-carrito-burger">
                    <li><a href="/login "><i class="fa-solid fa-user"></i></a></li>
                    <li><a href="/products/productCart"><i class="fa-sharp fa-solid fa-cart-shopping"></i></a></li>
                    
                </ul>
            </nav>
        </div>

    </div>
    <nav class="main-nav">
        <ul class="navegacion">
            <li>
                <a href="/products/products"><img src="/images/iconos/img-sandwich.png" alt="Sandwiches"></a>
                Sandwich
            </li>
            <li>
                <img src="/images/iconos/img-infantiles.png" alt="Infantiles">
                Infantiles
            </li>
            <li>
                <img src="/images/iconos/img-xxl.png" alt="XXL">
                XXL
            </li>
            <li>
                <img src="/images/iconos/image142.png" alt="guarnicion">
                Guarniciones
            </li>
            <li>
                <img src="/images/iconos/img-bebidas.png" alt="Bebidas">
                Bebidas
            </li>
            <li>
                <img src="/images/iconos/img-postres.png" alt="Postres">
                Postres
            </li>
        </ul>
    </nav>
</header>